body { 
  margin: 0;
}

.home-page { 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8ac2af;
  /* height: 100vh;
  width: 100vw; */
}

.logo {
  width: 300px;
}



.thumbnail {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
